<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.luffyk.studentsystem.dao.SubjectMapper">
  <resultMap id="BaseResultMap" type="online.luffyk.studentsystem.domain.Subject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <resultMap id="clazzResultMap" type="Clazz">
    <id column="cId" property="id"/>
    <result column="clazz_name" property="clazzName"/>
    <result column="remark" property="remark"/>
    <result column="subject_id" property="subjectId"/>
  </resultMap>
  <resultMap id="subjectAndClazzResultMap" type="Subject">
    <id column="sId" property="id"/>
    <result column="subject_name" property="subjectName"/>
    <result column="college" property="college"/>
    <result column="remark" property="remark"/>
    <collection property="clazzList" resultMap="clazzResultMap"/>
  </resultMap>
  <select id="showAllSubjectAndClazzDao" resultMap="subjectAndClazzResultMap">
    SELECT
        sub.id as sId,
        sub.subject_name,
        sub.college,
      sub.remark,
        cla.id as cId,
        cla.clazz_name,
        cla.remark,
        cla.subject_id
    FROM
        tb_subject AS sub
        LEFT JOIN tb_clazz AS cla ON sub.id = cla.subject_id
    ORDER BY
        subject_id;
  </select>
  <select id="showAllSubjectDao" resultMap="BaseResultMap">
    select * from tb_subject
    <where>
      <if test="subjectName!=null and subjectName!=''">
        and subject_name like CONCAT("%",#{subjectName},"%")
      </if>
      <if test="college!=null and college!=''">
        and college like CONCAT("%",#{college},"%")
      </if>
    </where>
  </select>
  <sql id="Base_Column_List">
    id, subject_name, college, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_subject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_subject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="online.luffyk.studentsystem.domain.Subject">
    insert into tb_subject (id, subject_name, college, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{subjectName,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="online.luffyk.studentsystem.domain.Subject">
    insert into tb_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="subjectName != null">
        subject_name,
      </if>
      <if test="college != null">
        college,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null">
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.luffyk.studentsystem.domain.Subject">
    update tb_subject
    <set>
      <if test="subjectName != null">
        subject_name = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.luffyk.studentsystem.domain.Subject">
    update tb_subject
    set subject_name = #{subjectName,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>