<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.luffyk.studentsystem.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="online.luffyk.studentsystem.domain.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="teacher_pwd" jdbcType="VARCHAR" property="teacherPwd" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="loginVerifyDao" resultMap="BaseResultMap">
    select * from tb_teacher where teacher_name=#{userName} and teacher_pwd=#{password}
  </select>

  <select id="queryAllTeacherDao" resultMap="BaseResultMap">
    select * from tb_teacher
    <where>
      <if test="name!=null and name!=''">
        name like CONCAT("%",#{name},"%")
      </if>
    </where>
  </select>

  <resultMap id="sectionResultMap" type="Section">
    <id column="sectionId" property="id"/>
    <result column="year" property="year"/>
    <result column="type" property="type"/>
  </resultMap>
  <resultMap id="clazzResultMap" type="Clazz">
    <id column="clazz_id" property="id"/>
    <id column="clazz_name" property="clazzName"/>
  </resultMap>
  <resultMap id="courseResultMap" type="Course">
    <id column="course_id" property="id"/>
    <result column="course_name" property="courseName"/>
  </resultMap>
  <resultMap id="teacherAndCourseAndClazzResultMap" type="Teacher">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <association property="section" resultMap="sectionResultMap"/>
    <association property="clazz" resultMap="clazzResultMap"/>
    <association property="course" resultMap="courseResultMap"/>
  </resultMap>
  <select id="selectCourseAndClazzByTeacherId" resultMap="teacherAndCourseAndClazzResultMap">
    SELECT
        teacher.id,
        teacher.name,
        temp1.id as sectionId,
        temp1.year,
        temp1.type,
        temp1.clazz_id,
        temp1.teacher_id,
        temp1.course_id,
        temp1.course_name,
        temp1.clazz_name
    FROM
        tb_teacher AS teacher
        LEFT JOIN (
        SELECT
            section.*,
            course.course_name,
            clazz_name
        FROM
            tb_section AS section
            INNER JOIN tb_course AS course ON section.course_id = course.id
            INNER JOIN tb_clazz AS clazz ON section.clazz_id = clazz.id
        ) AS temp1 ON teacher.id = temp1.teacher_id
    WHERE
        teacher.id = #{teacherId}
  </select>

  <sql id="Base_Column_List">
    id, teacher_name, teacher_pwd, remark, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="online.luffyk.studentsystem.domain.Teacher">
    insert into tb_teacher (id, teacher_name, teacher_pwd, 
      remark, name)
    values (#{id,jdbcType=INTEGER}, #{teacherName,jdbcType=VARCHAR}, #{teacherPwd,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="online.luffyk.studentsystem.domain.Teacher">
    insert into tb_teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="teacherPwd != null">
        teacher_pwd,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPwd != null">
        #{teacherPwd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.luffyk.studentsystem.domain.Teacher">
    update tb_teacher
    <set>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPwd != null">
        teacher_pwd = #{teacherPwd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatePwdDao">
    update tb_user set user_pwd=#{newPwd} where id=#{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.luffyk.studentsystem.domain.Teacher">
    update tb_teacher
    set teacher_name = #{teacherName,jdbcType=VARCHAR},
      teacher_pwd = #{teacherPwd,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>