<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/lib/layui-src/css/layui.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/css/style.css" media="all">
<body>
<div>这是学生修改页面</div>
<div class="layuimini-container layuimini=page-anim">
    <div>测试</div>
    <span th:value="123"></span>
    <div class="layuimini-main width_60">
        <form action="" class="layui-form">
            <input type="hidden" th:value="${student.id}"  name="id">

            <div class="layui-form-item">
                <label class="layui-form-label">所选专业</label>
                <div class="layui-input-block">
                    <select   name="subjectId" lay-filter="aihao">
                        <option value="">请选择一个专业</option>
                        <option th:each="subject:${subjects}" th:text="${subject.subjectName}" th:value="${subject.id}" th:if="${subject.id} eq ${student.subjectId}" th:selected="selected"></option>
                        <option th:each="subject:${subjects}" th:text="${subject.subjectName}" th:value="${subject.id}" th:if="${subject.id} != ${student.subjectId}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">班级名称</label>
                <div class="layui-input-block">
                    <select   name="subjectId" lay-filter="aihao">
                        <option value="">请选择一个班级</option>
                        <option th:each="clazz:${clazzes}" th:text="${clazz.clazzName}" th:value="${clazz.id}" th:if="${clazz.id} eq ${student.clazzId}" th:selected="selected"></option>
                        <option th:each="clazz:${clazzes}" th:text="${clazz.clazzName}" th:value="${clazz.id}" th:if="${clazz.id} != ${student.clazzId}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">入学时间</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${#dates.format(student.joinDate,'yyyy-MM-dd')}" name="joinDate" autocomplete="off" lay-verify="date|required"  placeholder="yyyy-MM-dd" id="joinDate" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学号</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${student.stuNo}" name="stuNo" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="stuName" th:value="${student.stuName}" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="text" name="stuPwd" th:value="${student.stuPwd}" lay-verify="required" class="layui-input" value="123456">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-block">
                    <input type="text" name="cardNo" th:value="${student.cardNo}"  lay-verify="identity|required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="gender" value="男" title="男" th:checked="${student.gender} == '男' ?true:false">
                    <input type="radio" name="gender" value="女" title="女" th:checked="${student.gender} == '女' ?true:false">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号码</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" th:value="${student.phone}" value="18533333333" lay-verify="phone|required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">父母姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="pname" th:value="${student.pname}" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-block">
                    <input type="text" name="telephone" th:value="${student.telephone}" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">家庭地址</label>
                <div class="layui-input-block">
                    <input type="text" name="addr" th:value="${student.addr}" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-primary layui-btn-sm data-add-btn">
                        <i class="fa fa-refresh"></i>
                        重置
                    </button>
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-submit lay-filter="save">
                        <i class="fa fa-save"></i>
                        保存
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/lib/layui-src/layui.js" charset="utf-8"></script>
<script src="/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script>
    layui.use(['form','jquery','laydate'], function () {
        var form = layui.form,
            laydate = layui.laydate,
            $ = layui.jquery;
        laydate.render({
            elem:'#joinDate',
            trigger:'click'
        });
        var index = parent.layer.getFrameIndex(window.name);
        console.log("index:"+index);
        form.on('submit(save)',function (data) {
            console.log("点击了提交按钮，准备修改数据");
            console.log(data.field);
            $.ajax({
                url:'/student/update',
                type:'POST',
                dataType:'json',
                data:data.field,
                success:function (data) {
                    console.log("添加成功");
                    console.log(data);
                    if(data.code == 200){
                        layer.msg("修改成功",{time:1000},function () {
                            parent.layer.close(index);
                        })
                    }else if(data.code == 400){
                        layer.msg("修改失败",{time:1000})
                    }

                },
                error:function (data) {
                    layer.msg("添加失败：",{time:500})
                }
            })
            return false;
        });

    });
</script>


</body>
</html>
